body{
    background-color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: none;
}

#cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px dashed #676767;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    z-index: 999;
}

/* #cursor-line1{
    position: fixed;
    transform-origin: center;
    transform: rotate(45deg);
    height: 100px;
    border: 0.5px solid #676767;
}

#cursor-line2{
    position: fixed;
    transform-origin: center;
    transform: rotate(-45deg);
    height: 100px;
    border: 0.5px solid #676767;
} */

#left-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    align-items: center;
    /* background-color: black; */
    color: #676767;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    font-size: 2.5vw;
    /* font-stretch: condensed; */
    border-right: 1px dashed #676767;
    /* border-right-style: dashed; */
    gap: 5vh;
    background-color: white;
    z-index: 100;
}


#left-bar > div {
    width: 100%;
    border-bottom: 1px dashed #676767;
    /* padding-top: 10vh;
    padding-bottom: 10vh; */
    padding-top: 2vh;
    padding-bottom: 5.5vh;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#left-bar > div:nth-child(1) {
    padding-top: 4vh;
}

#left-bar > div:nth-child(2) {
    padding-top: 8vh;
    padding-bottom: 12vh;
    overflow: scroll;
    cursor: pointer;
}

#left-bar > div:last-child {
    font-size: 2vw;
    padding-top: 0.2vh;
    border-bottom: none;
}
  


.rotated-text {
    display: inline-block;
    transform: rotate(25deg);
    transform-origin: center;
}

#right-content{
    position: fixed;
    top: 0;
    right: 0;
    width: 82%;
    height: 100%;
    /* background-color: aqua; */
    background-color: white;
}

#info-full{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-indent: 30%;
    text-align: left;
    font-size: 1.5vw;
    color: #676767;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    padding: 5%;
    border: 1px dashed #676767;
    background-color: white;
}

.hidden {
    display: none;
}

